.background {
  background-image: url('../../images/panasonic.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Asegura que ocupe al menos la altura de la ventana */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-style-class {
  height: 700px;
  width: 95vw;  /* ✅ ocupa el 100% del ancho real de la ventana */
  margin: 0;     /* ✅ sin centrado automático */
  padding: 0;    /* ✅ sin espacio interno */
  border: none;
}